NEO4J_URI = "neo4j+s://641629cf.databases.neo4j.io"
NEO4J_USER = "neo4j"  # Default username for AuraDB
NEO4J_PASSWORD = "ylockozvHG0DK-ph7fOPdnm3qcB_C0AxAsFOXnUgGbs" 
NEO4J_DATABASE = "neo4j"

GROQ_API_KEY=".."
GROQ_MODEL_NAME="llama-3.1-8b-instant"
GEMINI_API_KEY = ".."

# You can use any of one models, I have used both as of usage contraint on groq and intialise accordingly